body{
    margin: 0;
    padding: 0;
    background: url(assert/wallpaperflare.com_wallpaper.jpg) center center/cover no-repeat fixed;
    color: aliceblue;
}
.head-section, .home-container, .skills, .project-container, .footer-container{
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    corner-shape: bevel;
    backdrop-filter: blur(0.2em);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.349);
    text-align: center;
}
.head-section{
    position: relative;
    z-index: 2;
    top: 1em;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#me, #skill, #web{
    scroll-margin-top: 10em;
}

a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
    float: left;
    margin: 1em;
    position: relative;
    cursor: pointer;
}

li::before{
    content: '';
    position: absolute;
    width: 0;
    border-radius: 10px;
    bottom: -5px;
    transition: width 0.5s ease;
    height: 0.3em;
    background: linear-gradient(to right, rgb(255, 247, 5), rgb(255, 0, 0));
}

li:hover::before{width: 105%;}

.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em; 
    height: 60vh;
}
.hero{
    width: 20em;
    height: 20em;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    flex-shrink: 0;
}

img{
    transition: 0.4s;
    box-shadow: 1em 1em 2em rgba(255, 255, 255, 0.125);
}

img:hover{
    box-shadow: 1em 1em 2em rgba(255, 255, 255, 0.125);
    transform: translateY(-1em);
}

svg{fill: aliceblue;}

.hero-text{text-align: justify;}

.contact-icon{
    display: flex;
    gap: 2em;
    margin-top: 2em;
    justify-content: space-evenly;
}

.social-links{
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.skill-container, .tool-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.skill-icon, .tool-icon{width: 2em;}                     

.project-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 2em;
}
.project-button{
    border: none;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    cursor: pointer;
}